body {
  font-family: Games;
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-screen {
  padding: 50px;
  margin: 30px;
  align-items: center;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#instructions {
  font-size: 20px;
}

#start-btn,
#restart-btn {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
}

canvas {
  border: 1px solid black;
  display: none;
}
